{% extends 'base.html' %}

{% block main %}

<center>
<div class="card" style="width: 80%; background-color: white; text-align: left; margin: 20px;">
    <div class="card-body">
        <h2 class="card-title">About us</h2>
        <p class="card-text">At WeatherWise, we empower users to make informed decisions about their outdoor plans by providing insights into the likelihood of specific weather conditions—such as very hot, cold, windy, wet, or uncomfortable days—at any chosen location and time of year. Rather than offering short-term forecasts, our platform raws from decades of NASA Earth observation data to reveal long-term weather
            probabilities based on historical trends. Objective: Our goal is to help individuals, travelers, and event planners anticipate weather conditions months in advance using reliable climate data. By integrating NASA datasets—including temperature, precipitation, windspeed, humidity, and air quality—WeatherWise calculates probabilities of extreme conditions and visualizes them through an interactive, personalized dashboard. Users can select a location by dropping a map pin and instantly
        view charts, maps, and clear summaries showing the likelihood of their desired or adverse weather scenarios. Beyond visualization, the app also allows data downloads and highlights changing weather trends due to climate shifts. Through science-driven insights and intuitive design, WeatherWise enables users to plan smarter, stay prepared, and understand how the climate is evolving in the places that matter most to them.</p>
    </div>
</div>

<div class="card" style="width: 80%; background-color: white; text-align: left; margin: 20px;">
    <div class="card-body">
        <h2 class="card-title">The Cipher Syndicate</h2>
        <ul class="list-group" style="margin: 10px;">
            <li class="list-group-item">Audad Ahmed</li>
            <li class="list-group-item">Lakshya Suhalka</li>
            <li class="list-group-item">Taha Hussain</li>
            <li class="list-group-item">Leen Giri Goswami</li>
        </ul>
    </div>
</div>
</center>
{% endblock %}
